.form {
  margin: 1rem 0;
  height: 19rem;
  overflow: auto;
}

.formControl {
  margin-bottom: 0.5rem;
}

.formControl label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
}

.formControl input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20rem;
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.actions button {
  font: inherit;
  color: #5a1a01;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe6dc;
}

.actions .submit {
  border: 1px solid #5a1a01;
  background-color: #5a1a01;
  color: white;
}
.actuins button:disabled,
.actions button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.formControl input:focus {
  outline: none;
  border-color: #787385;
  background-color: #d6d1e0;
}

.formControlInvalid input,
.formControlInvalid select {
  display: block;
  padding: 0.2rem;
  border-radius: 4px;
  border: 1px solid rgb(75, 74, 74);
}



.formControlInvalid input:focus {
  outline: none;
  border-color: #c04d4d;
  background-color: #fdd4f4;
}

.textError {
  color: red;
  margin-bottom: 0;
  margin-top: 3px;
  padding: 5px;
}
